name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install Poetry
        run: pip install poetry==2.2.1

      - name: Install deps
        run: |
          poetry config virtualenvs.in-project true
          poetry install

      - name: Lint
        run: poetry run ruff check .

      - name: Type check
        run: poetry run mypy src

      - name: Tests
        run: poetry run pytest -q

  docker:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v4
      - name: Build image
        run: docker build -t py-lab:ci .
